@model EnterpriseBudgetApp.Models.Transaction

<tr>
    <td><a href="~/Views/Home/Index"></a>@Model.TimeStamp</td>
    <td>@Model.TransType1.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Amount</td>
</tr>

