<script type="text/javascript">
    $(function () {
        $('#TimeStamp').datetimepicker({
            timeFormat: 'hh:mmZ'
        });
    });
</script>
@model IEnumerable<EnterpriseBudgetApp.Models.Transaction>

@{
    ViewBag.Title = "Overview";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div id="overview_left">
    <!--Budget and reports to be displayed-->
    <div id="budget_overview">
        <h2>Budget</h2>
        <!--get budget and display here-->
        <div class="float-right">$5289.23</div>
        <h2>Reports</h2>
        @Html.ActionLink("Expense Report", "Chart", "Report")<br />
        <a href ="~/Views/Home/">Inflow/Ouflow Report</a>
    </div>
</div>

<div id="transactions">
    <h2>Transactions</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        @foreach (var item in Model) 
        {
            Html.RenderPartial("_Transactions", item);
        }
    </table>
    <div class="float-right">

        <button type="button">@Html.ActionLink("Add New", "Create", "Transaction")</button>
        

    </div>
</div>