@{
    ViewBag.Title = "Overview";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div id="overview_left">
    <!--Budget and reports to be displayed-->
    <div id="budget_overview">
        <h2>Budget</h2>
        <!--get budget and display here-->
        <div class="float-right">$5289.23</div>
        <h2>Expenses</h2>
        <!--expense pie chart goes here-->
        <center>
            <img src="http://docs.oracle.com/javafx/2/charts/img/pie-sample.png" alt="expense chart" width="200" height="200">
        </center>
        <h2>Reports</h2>
        <a href ="~/Views/Home/Contact">Expense Report</a><br />
        <a href ="~/Views/Home/Contact">Inflow/Ouflow Report</a>
    </div>
</div>

<div id="transactions">
    <h2>Transactions</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td><a href ="~/Views/Home/Index"></a>10/1/2013</td>
            <td>Rent</td>
            <td>Rent for October</td>
            <td>$700.00</td>
        </tr>
        <tr>
            <td><a href ="~/Views/Home/Index"></a>10/2/2013</td>
            <td>Food</td>
            <td>Crossroads</td>
            <td>$8.00</td>
        </tr>
        <tr>
            <td><a href ="~/Views/Home/Index"></a>10/3/2013</td>
            <td>Clothes</td>
            <td>Macy's</td>
            <td>$45.89</td>
        </tr>
        <tr>
            <td><a href ="~/Views/Home/Index"></a>10/9/2013</td>
            <td>Travel</td>
            <td>Gas</td>
            <td>$20.00</td>

        </tr>
    </table>
    <div class="float-right">

        <button type="button" onclick="location.href='transaction'">Add New</button>

    </div>
</div>