@{
    ViewBag.Title = "Home Page";
}
<hgroup class="title">
    <h1> About </h1>
</hgroup>

<p> The purpose of this app is to help people manage their money so that they can allocate money 
    to their full potential. This app learns how the user spends their money and will alert the user if 
    their spending increases above their normal levels to prevent the user from going into financial difficulties.
     Unlike other similar apps this is family oriented, the app has the capability to manage groups of people and 
    alert other members when someone buys a product that is flagged.     
</p>


<ol class="round">
    <li class="one">
        <h5> Getting Started </h5>
       Create a BudgetApp account by clicking register in the top right. If you 
        already have an account you can view your budget by clicking log in the top right.
    </li>

    <li class="two">
        <h5> Using BudgetApp</h5>
        Set your budget by clicking on your username on the top right and
        enter the amount that you have. Add transactions by clicking on Overview
        and add new.
        
    </li>

    <li class="three">
        <h5> Features </h5>
        
            - Inflow / Outflow Charts (Comming Soon) <br/>
            - Groups (Comming Soon) <br />
            - Configure Alerts (Comming Soon) <br />
            - Catagories (Comming Soon) <br />
            
           

    </li>
</ol>